<div @submitNotificationTrigger *ngIf="isShown" class="columns">
    <div class="column">
        <div class="notification is-success">
            <button class="delete" (click)="toggle()"></button>
            <p class="has-text-centered">Form has been submitted.</p>
        </div>
    </div>
</div>