<div class="columns">
    <div class="column">
        <app-card [name]="cardForm.get('name').value" [cardNumber]="cardForm.get('cardNumber').value"
            [expiration]="cardForm.get('expiration').value"></app-card>
    </div>

    <div class="column">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit(); submitNotification.toggle()">
            <app-input label="Name" [control]="cardForm.get('name')"></app-input>
            <app-input [maskValue]="'0000 0000 0000 0000'" label="Card Number" [control]="cardForm.get('cardNumber')">
            </app-input>
            <div class="columns">
                <div class="column">
                    <app-input label="Expiration" [control]="cardForm.get('expiration')"></app-input>
                </div>
                <div class="column">
                    <app-input [hideInput]="true" label="Security Code" [control]="cardForm.get('securityCode')">
                    </app-input>
                </div>
            </div>
            <div class="buttons">
                <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">Submit</button>
                <button class="button is-warning" type="button"
                    (click)="onResetClick(); submitNotification.toggle(false)">Reset</button>
            </div>
        </form>
    </div>
</div>

<app-notification #submitNotification></app-notification>